<!DOCTYPE html>
<html>
  <head>
    <title>kʌmftəbl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main class="container mx-auto px-5 bg-green-500 h-screen">
      <div class="max-w-[640px] w-full mx-auto">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
